body{
    background-image: linear-gradient(#FF671F, #FFFFFF,#046A38);
}
#main{
    
    height: 109vh;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(40, 0, 218);

    
    
}
#sub{
    border: 5px solid rgb(9, 141, 20);
    border-radius: 15px;
    background-color: white;
    width: 700px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#timer{
    font-weight: bolder;
    font-family: Verdana;
    font-size: 40px;
}